* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
h1,h2,h3{
  margin-bottom: 20px;
}
a {
  text-decoration: none;
  color: white;
}
:root , html, body{
  font-family: "Open Sans", sans-serif;
  
}
.header{
  background: #333;
  overflow: auto;
  line-height: 1.7em;
  color: white;
}
.logo{
  float: left;
  padding: 20px;
  margin-bottom: 0;
}
.header nav ul{
  float: right;
  list-style: none;
}
.header nav ul li {
  float: left;
}
.header nav ul li a {
  color: white;
  padding: 20px;
  display: block;
}
.header nav ul li a:hover {
  background: #444;
}
.Acceuil{
  background: #444;
}
.content{
  background: url(images/bgd.jpg);
  height: 600px;
  background-size: cover;
  text-align: center;
  color: white;
}
.box {
  margin: auto;
  display: block;
  padding-top: 145px;
  max-width: 600px;
  
}
.titre {
  font-weight: bold;
  unicode-bidi: isolate;
  display: block;
  font-size: 48px;
  letter-spacing: 1px;
}
.ligne {
  background-color: black;
  width: 110px;
  height: 12px;
  margin: 20px auto;
}
p {
  font-size: 18px;
  line-height: 1.9em;
  letter-spacing: 0.6px;
}
.DECOUVRIR {
  text-decoration: none;
  color: black;
  background-color: white;
  line-height: 6em;
  padding: 15px 25px;
  border-radius: 30px;
  border: 0px;
  font-weight: 700;
}
.DECOUVRIR:hover{
  background: black;
  color: white;
}
.café{
  float: left;
  width: 50%;  
}
.section1{
  overflow: auto;
  text-align: center;
  padding: 100px 0px 100px 0px;
}
.container{
  display: block;
  width: 1000px;
  margin: auto;

}

i{
  font-size: 50px;
  padding-top: 20px;
  padding-bottom: 10px;
}
.section1 p {
  font-size: 15px;
  line-height: 1.5em;
  letter-spacing: 0.6px;
}
.section3{
  overflow: auto;
  text-align: center;
  padding: 100px 0px 100px 0px;
}
.section3 p {
  font-size: 15px;
  line-height: 1.5em;
  letter-spacing: 0.6px;
}
.Reservez{
  text-decoration: none;
  color: white;
  background-color: black;
  font-size: 14px;
  padding: 15px 25px;
  border-radius: 30px;
  border: 0px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
  display: inline-block;
}
.Reservez:hover {
  color: black; 
  background-color: white;
  font-size: 14px;
  padding: 15px 25px;
  border-radius: 30px;
  border: solid 1px black;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
  display: inline-block;
}